****************************************************
*                                                  *
* DRILL TAPE SUMMARY REPORT                        *
*                                                  *
* H:\LAM T\P DENCAMUNG\MACHDIEN\SENSOR\SENSOR.MAX  *
* Tue May 05 02:18:36 2015                         *
*                                                  *
****************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       34       24       200      100                                                                                 
T2       45       5        200      100                                                                                 
