**************************************************
*                                                *
* DRILL TAPE SUMMARY REPORT                      *
*                                                *
* H:\LAM T\P DENCAMUNG\MACHDIEN\LAMP\MACHV3.MAX  *
* Tue May 05 02:19:05 2015                       *
*                                                *
**************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       34       68       200      100                                                                                 
T2       38       3        200      100                                                                                 
T3       45       30       200      100                                                                                 
